  body {
        font-family: "Open Sans", sans-serif;
      }
      h1,
      h2,
      h3,
      nav,
      button {
        font-family: "Raleway", sans-serif;
      }
      body {
        background-color: hsl(217, 28%, 15%);
        color: aliceblue;
      }
      .btn {
        background-color: hsl(176, 68%, 64%);
      }